.modal {
  position: absolute;
  min-height: 100vh;
  top: 0%;
  left: calc(100% - 200px);
  background-color: black;
  color: white;
  width: 200px;
  transform: translateX(100%);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
