.logOutDiv {
    border: 2px solid var(--main-color);
    padding: 16px;
    border-radius: var(--modals-border-radius);
}

.logOutEmail {
    font-weight: bold;
}

.logOutBtn {
    margin-top: 20px;
    padding: 8px 10px;
    border: none;
    border-radius: var(--buttons-border-radius);
    color: white;
    background-color: var(--main-color);
}

.logOutBtn:hover {
    background-color: var(--main-color-hover);
}