.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btnsDiv {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons {
    border: none;
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.buttons:hover {
    background-color: var(--main-color-hover);
}