.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btnsDiv {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}