.createListBtn {
    border: none;
    padding: 12px 14px;
    border-radius: var(--buttons-border-radius);
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.createListBtn:hover {
    background-color: var(--main-color-hover);
}
