.header {
    justify-self: flex-start;
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    background-color: var(--darker-grey);
}

.nameLogo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    text-decoration: none;
}

.logo {
    width: 48px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 24px;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.loginLink {
    background-color: var(--navy-blue);
    padding: 12px 14px;
    border-radius: 10px;
}

.loginLink:hover {
    background-color: var(--navy-blue-hover);
}

.signUpLink {
    position: relative;
    padding: 4px 0;
}

.signUpLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px; /* Adjust thickness as needed */
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.5s ease;
    transform: translateX(-50%);
}

.signUpLink:hover::after {
    width: 100%;
}
