.header {
    justify-self: flex-start;
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    background-color: var(--darker-grey);
}

.nameLogo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    text-decoration: none;
}

.logo {
    width: 48px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 16px;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: var(--darker-grey);
    padding: 12px 14px;
    border-radius: 10px;
}

.signUpLink {
    background-color: var(--navy-blue);
}
