.header {
    justify-self: flex-start;
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
}

.nameLogo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--navy-blue);
}

.logo {
    width: 48px;
}

.loggedDiv {
    display: flex;
    align-items: center;
}

.loginLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: var(--navy-blue);
    padding: 12px 14px;
    border-radius: 10px;
}
