.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 95.98px);
}

.textParagraph {
    width: 450px;
    padding: 0 48px;
    margin: 24px 0;
}

.resetPasswordForm {
    background-color: white;
    width: 450px;
    border-radius: 16px;
    padding: 48px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.inputDivs {
    padding: 14px;
    border: 2px solid var(--light-grey);
    border-radius: 12px;
    background-color: var(--light-grey);
    height: 45px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.inputs {
    border: 2px solid transparent;
    background-color: var(--light-grey);
    height: 41px;
    width: 100%;
    font-size: 18px;
    outline: none;
    color: var(--dark-grey);
}

.inputDivs:focus-within {
    border: 2px solid var(--dark-grey);
    border-color: var(--dark-grey);
}

.inputs::placeholder {
    color: var(--dark-grey);
    font-size: 18px;
}

.imageDiv {
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 100%;
    filter: invert(62%) sepia(0%) saturate(59%) hue-rotate(279deg)
        brightness(84%) contrast(91%);
}

.continueBtn {
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    outline: black;
    background-color: var(--navy-blue);
    color: white;
}

.continueBtn:focus {
    border: 2px solid var(--darker-grey);
}

