.sidebar {
    display: flex;
    flex-direction: column;
    /* border-right: 1px solid var(--darker-grey); */
    min-width: 180px;
    background-color: var(--main-color);
}

.icons {
    fill: white;
    width: 22px;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}

.navLink:hover:not(.active) {
    background-color: var(--main-color-hover);
}

.active {
    background-color: white;
    color: var(--main-color);
    border-right: none;
}

.active .icons {
    fill: var(--main-color);
}

.logoutBtn {
    background-color: var(--light-blue);
    border: none;
    cursor: pointer;
    font-family: inherit;
}
