.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  background-image: url(../../assets/images/bg-image2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textParagraph {
  width: 450px;
  padding: 0 48px;
  margin: 24px 0;
}

.resetPasswordForm {
  background-color: white;
  width: 450px;
  border-radius: 16px;
  padding: 48px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.inputDivs {
  padding: 14px;
  border: 2px solid var(--light-grey);
  border-radius: var(--inputs-border-radius);
  background-color: var(--light-grey);
  height: 45px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.inputs {
  border: 2px solid transparent;
  background-color: var(--light-grey);
  height: 41px;
  width: 100%;
  font-size: 18px;
  outline: none;
  color: var(--dark-grey);
}

.inputDivs:focus-within {
  border: 2px solid var(--dark-grey);
  border-color: var(--dark-grey);
}

.inputs::placeholder {
  color: var(--dark-grey);
  font-size: 18px;
}

.imageDiv {
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 100%;
  filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(98%)
    contrast(92%);
}

.continueBtn {
  padding: 10px;
  border: 2px solid white;
  border-radius: var(--buttons-border-radius);
  font-size: 16px;
  cursor: pointer;
  outline: black;
  background-color: var(--main-color);
  color: white;
}

.continueBtn:focus {
  border: 2px solid var(--darker-grey);
}

@media screen and (max-width: 670px) {
  .mainContainer {
    justify-content: flex-start;
    padding-top: 120px;
  }

  .resetPasswordForm {
    max-width: 320px;

    padding: 24px;
    gap: 20px;
  }

  .inputs::placeholder {
    font-size: 16px;
  }
}
