.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 95.98px);
    min-width: 100%;
    margin-top: 120px;
}

.mainContainer h1 {
    color: var(--navy-blue);
    margin-bottom: 32px;
}

.mainContainer h2 {
    color: var(--navy-blue);
}

.mainContainer a {
    color: var(--navy-blue);
}