:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--dark-grey);
    background-color: var(--light-blue);

    --light-grey: #e6e6e6;
    --dark-grey: #4a4a4a;
    --darker-grey: #2b2d35;
    --light-blue: #d1ebf8;
    --navy-blue: #23395d;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

#root {
    min-width: 100%;
    min-height: 100vh;
}
