:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--main-color);
    background-color: var(--light-blue);

    --light-grey: #e6e6e6;
    --dark-grey: #4a4a4a;
    --darker-grey: hsl(225, 11%, 15%);
    --darker-grey-hover: hsl(228, 10%, 18%);
    --light-blue: #dff1fa;
    --light-blue-hover: hsl(200, 74%, 85%);
    --main-color: #23395d;
    --main-color-hover: hsl(217, 45%, 35%);
    --red-error: hsl(0, 68%, 69%);
    --red-error-hover: #de5454;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

#root {
    min-width: 100%;
    min-height: 100vh;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.container {
    display: flex;
    min-height: calc(100vh - 95.98px);
    min-width: 100%;
    position: relative;
}

.mainContainer {
    padding: 40px;
}
