.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
}

.newItemBtn {
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
    font-size: 16px;
}

.newItemBtn:hover {
    background-color: var(--main-color-hover);
}

.table {
    border-collapse: collapse;
    margin-top: 24px;
    user-select: text;
}

.tableHead {
    font-size: 16px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.table td {
    font-size: 15px;
}

.quantityControl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    background-color: var(--light-blue);
    border: none;
}

.input {
    border: none;
    background-color: var(--light-blue);
    padding: 5px;
    -moz-appearance: textfield; /* Hide the spinner arrows in Firefox */
    width: 40px;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.input:focus {
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icons {
    height: 24px;
    cursor: pointer;
}

.plusIcon,
.minusIcon {
    height: 18px;
    filter: invert(27%) sepia(0%) saturate(0%) hue-rotate(80deg)
        brightness(100%) contrast(92%);
}

.trashIcon {
    height: 16px;
    filter: invert(57%) sepia(87%) saturate(2989%) hue-rotate(324deg)
        brightness(88%) contrast(98%);
}

.emptyInventory {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
}
